<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <%= rakuten_image_tag item %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= link_to item['itemName'], item['itemUrl'] %>
          </p>
          </p>
        </div>
        <div class="action clearfix">
          <% if current_user.want?(item) %>
            <%= render 'items/unwant' , item: item %>
          <% else %>
            <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Want") ,
                        :class => "btn-want btn btn-danger btn-sm want",
                        :item_code => "want-#{item['itemCode']}",
                        :remote => true,
                        :method => :post %>
          <% end %>

          <% if current_user.have? item %>
            <%= render 'items/unhave' , item: item %>
          <% else %>
            <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Have") ,
                        :class => "btn-have btn btn-warning btn-sm have",
                        :item_code => "have-#{item['itemCode']}",
                        :remote => true,
                        :method => :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
